
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
profiles/
build/android/assets/
build/android/data/
build/android/proj/.gradle
build/android/proj/build
build/android/proj/libservice/build
native/engine/android/app/release/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/