<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_itemSelect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1,129},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>com_itemSelect3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1,207},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_active_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,285},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,81}</string>
                <key>spriteSourceSize</key>
                <string>{72,81}</string>
                <key>textureRect</key>
                <string>{{1,55},{72,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{26,1},{52,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{83,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56f747ec5f782f022bec4ec4939ed212:5b6b9ff1cd9fd8dc03a17cf5128d5b21:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
